<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户管理</title>
<div th:include="/head"></div>
<link href="/css/bootstrap/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="table" id="userTable"></div>
<script type="text/javascript" src="/js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/js/common/userIndex.js"></script>
</body>
</html>