<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>后台管理系统</title>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"
	type="text/css" />
<link rel="stylesheet" href="/css/bootstrap/bootstrap.addtabs.css"
	type="text/css" />
<style type="text/css">
    html,body { height: 100%;margin: 0; padding: 0;}
</style>
</head>

<body>
	<div style="height:100%;width:100%;">
		<!--左边区域  -->
		<div style="width:150px;background-color:#364150;height:100%;float:left;color:white">
		左边
		</div>
		<!-- 右边区域 -->
		<div style="height:100%;float:left;width:calc(100% - 150px);">
			<div style="background-color:#364150;height:80px;color:white">后台系统管理</div>
			<div >省份垃圾分类解放路</div>
			<div style="position:fixed;bottom:0;background-color:#364150;width:100%;height:40px;color:white;">版权2017小张</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap/bootstrap.addtabs.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>